@use "includes" as i;
@use "themes" as t;

:host {
  display: block;
  width: 100%;
}

.poke-row {
  @include i.flex-row(stretch);
  gap: 1rem;

  &__item {
    flex: 1;
    min-width: 0;

    --background: white;
    --border-radius: #{i.border-radius("md")};
    --padding-start: .625rem;
    --inner-padding-end: 1rem;
    --min-height: 76px;

    border: 1px solid t.get-color('primary-neutral', 100);
    border-radius: i.border-radius("md");
  }

  &__thumb {
    @include i.flex(center, center);
    --size: 56px;
    --border-radius: #{i.border-radius("md")};
    background: t.get-color('primary-neutral', 50);

    img {
      width: 46px;
      height: 46px;
      object-fit: contain;
    }
  }

  &__actions {
    @include i.flex(center, center);
  }
}

.poke-row__actions:empty {
  display: none;
}

ion-label{
  font-weight: 600;
}
