ion-select {
  max-width: 120px;
  --padding-end: 12px;
}

.fav-btn {
  --padding-start: 6px;
  --padding-end: 6px;
  height: 100%;
  margin: 0;
}

.skeleton-item {
  ion-thumbnail {
    --size: 56px;
    --border-radius: 12px;
  }

  ion-skeleton-text {
    border-radius: 8px;
  }
}