<ion-header>
  <ion-toolbar>
    <ion-title>Pokemon List</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      placeholder="Cari nama..."
      [debounce]="300"
      (ionInput)="onSearch($event)"
    >
    </ion-searchbar>
    <app-pokemon-filter-button slot="end" [(selectedType)]="selectedType"/>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (selectedTypeLoading()) {
    <div class="ion-text-center ion-padding">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  } @else {
    <ion-list>
      @for (pokemon of filteredPokemons(); track pokemon.id) {
        <app-pokemon-item [pokemon]="pokemon">
          <ion-button
            actions
            fill="clear"
            class="fav-btn"
            (click)="toggleFavourite(pokemon)"
          >
            <ion-icon
              slot="icon-only"
              [name]="isFavourite(pokemon.id) ? 'heart' : 'heart-outline'"
              [color]="isFavourite(pokemon.id) ? 'danger' : 'medium'"
            >
            </ion-icon>
          </ion-button>
        </app-pokemon-item>
      } @empty {
        <div class="ion-text-center ion-padding">Tidak ada Pokemon.</div>
      }
    </ion-list>

    @if (showInfiniteScroll()) {
      <ion-infinite-scroll (ionInfinite)="onInfinite($event)">
        <ion-infinite-scroll-content
          loadingSpinner="crescent"
          loadingText="Memuat lebih banyak..."
        >
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    }
  }
</ion-content>
