@use 'includes' as i;
@use "themes" as t;

.info-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 20px 0 8px;
}

.info-card {
  @include i.flex-column(center);
  gap: 4px;
  padding: 14px 8px;
  background: t.get-color('primary-neutral', 50);
  border-radius: 16px;

  &__icon {
    font-size: 22px;
    color: t.get-color('primary-neutral', 900);
  }
  &__value {
    font-weight: 700;
    font-size: 0.95rem;
  }
  &__label {
    font-size: 0.72rem;
    color: t.get-color('primary-neutral');;
    text-transform: uppercase;
    letter-spacing: 0.04em;
  }
}