<div class="info-grid">
  <div class="info-card">
    <ion-icon name="resize-outline" class="info-card__icon"></ion-icon>
    <span class="info-card__value">{{ pokemon().height }} m</span>
    <span class="info-card__label">Height</span>
  </div>
  <div class="info-card">
    <ion-icon name="scale-outline" class="info-card__icon"></ion-icon>
    <span class="info-card__value">{{ pokemon().weight }} kg</span>
    <span class="info-card__label">Weight</span>
  </div>
  <div class="info-card">
    <ion-icon name="flash-outline" class="info-card__icon"></ion-icon>
    <span class="info-card__value">{{ pokemon().baseExperience }}</span>
    <span class="info-card__label">Base XP</span>
  </div>
</div>