<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pokemon"></ion-back-button>
    </ion-buttons>

    @if (pokemon()) {
      <ion-title class="ion-text-capitalize">{{ pokemon()?.name }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="toggleFavourite()">
          <ion-icon
            slot="icon-only"
            [name]="isFavourite(pokemon()!.id) ? 'heart' : 'heart-outline'"
            [color]="isFavourite(pokemon()!.id) ? 'danger' : ''"
          >
          </ion-icon>
        </ion-button>
      </ion-buttons>
    }
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (isLoading()) {
    <ng-container *ngTemplateOutlet="loadingState"></ng-container>
  } @else if (errorMessage()) {
    <ng-container *ngTemplateOutlet="errorState"></ng-container>
  } @else if (pokemon(); as pokemon) {
    <app-pokemon-detail-hero [pokemon]="pokemon" />
    <app-pokemon-detail-info [pokemon]="pokemon" />
    <app-pokemon-detail-abilities [abilities]="pokemon.abilities" />
    <app-pokemon-detail-stats
      [stats]="pokemon.stats"
      [total]="pokemon.totalStats"
    />
  }
</ion-content>

<ng-template #loadingState>
  <div class="detail-skeleton">
    <div class="detail-skeleton__image">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </div>
    <div class="detail-skeleton__title">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </div>
    <div class="detail-skeleton__chips">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </div>
    <div class="detail-skeleton__heading">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </div>
    @for (line of [1, 2, 3]; track line) {
      <div class="detail-skeleton__line">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </div>
    }
    <div class="detail-skeleton__heading">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </div>
    @for (stat of [1, 2, 3, 4, 5, 6]; track stat) {
      <div class="detail-skeleton__stat">
        <ion-skeleton-text
          [animated]="true"
          class="detail-skeleton__stat-label"
        ></ion-skeleton-text>
        <ion-skeleton-text
          [animated]="true"
          class="detail-skeleton__stat-bar"
        ></ion-skeleton-text>
      </div>
    }
  </div>
</ng-template>

<ng-template #errorState>
  <app-pokemon-empty-state
    icon="alert-circle-outline"
    title="Something went wrong"
    [message]="errorMessage() ?? 'Failed to load Pokémon details.'"
  />
</ng-template>
