<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Favorite ({{ pokemonService.favoriteCount() }})</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    @for (pokemon of pokemonService.favorites(); track pokemon.name) {
      <app-pokemon-item [pokemon]="pokemon">
        <ion-button
          actions
          slot="end"
          fill="clear"
          color="danger"
          (click)="
            $event.stopPropagation();
            pokemonService.removeFavorite(pokemon.name)
          "
        >
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </app-pokemon-item>
    } @empty {
      <div class="ion-text-center ion-padding">
        <p>Belum ada Pokemon favorit.</p>
      </div>
    }
  </ion-list>
</ion-content>
