<ion-header>
  <ion-toolbar>
    <ion-title>Favorite ({{ total() }})</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      placeholder="Cari nama..."
      [debounce]="300"
      (ionInput)="onSearch($event)"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="none">
    @for (pokemon of favouritePokemons(); track pokemon.id) {
      <app-pokemon-item [pokemon]="pokemon">
        <ion-button
          actions
          fill="clear"
          color="danger"
          (click)="removeFavourite(pokemon)"
        >
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </app-pokemon-item>
    } @empty {
      <app-pokemon-empty-state
        title="No favourites yet"
        message="Pokémon you mark as favourite will appear here."
      />
    }
  </ion-list>
</ion-content>
